.products-filter-container
  p Refine by
  
  = simple_form_for @product_filter, url: products_path, html: { method: :get }, remote: true do |f|
    h6.brands Brands

    = f.input :brand_ids, as: :check_boxes, collection: Brand.all, label_method: :name, label: false, include_hidden: false

    h6.price Price

    = f.input :min_price, as: :hidden
    = f.input :max_price, as: :hidden
    = f.input :sort_by,   as: :hidden
    
    #price-slider
    
javascript:

  $(document).ready(function() {
    var slider = document.getElementById('price-slider');
    var min_price = document.getElementById('product_filter_min_price');
    var max_price = document.getElementById('product_filter_max_price');

    noUiSlider.create(slider, {
      start: [0, 150],
      connect: true,
      step: 50,
      range: {
        'min': 0,
        'max': 200
      },
      format: wNumb({
        decimals: 0
      })
    });

    slider.noUiSlider.on('update', function(values, handle) {
      var value = values[handle];

      if (handle) {
        max_price.value = value;
        $('#product_filter_max_price').val(value).trigger('change');
      } else {
        min_price.value = value;
        $('#product_filter_min_price').val(value).trigger('change');
      }
    });
  });

coffee:
  product_filter()