$('.products-listing').html('<%= j render(@products) %>');
$('.products-listing').prepend("<div class='col m12'><p class='products-count'><%= pluralize(@products.count, 'matching products') %></p></div>");
$('.pagination').replaceWith('<%= j will_paginate(@products) %>');