.products-product-container {
  .add-to-cart {
    margin-top: 20px;
    opacity: 0;

    .btn {
      background-color: #1976d2;
      font-weight: 300;
      font-size: 14px;
      width: 100%;
    }
  }

  .card .card-content .card-title {
    line-height: 0;
  }

  .card {
    box-shadow: none;

    &:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

      .add-to-cart {
        opacity: 1;
      }
    }
  }

  span.card-title {
    font-weight: 500;
    font-size: 16px;
  }

  p.sku {
    font-size: 14px;
    color: #9599a3;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 300;
  }

  p.price {
    font-size: 18px;
    color: #212121;
    font-weight: 700;
  }
}